.about-container {
  display: flex;
  flex-direction: column;
}

.about-header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 15rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("../../Components/imgs/about_header_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.about-header h2 {
  font-size: 6rem;
  color: #fff;
  line-height: 1;
  text-shadow: 3px 3px #e41936;
}

.about-header h3 {
  font-size: 2.75rem;
  font-style: italic;
  color: #fff;
  text-shadow: 1px 1px #e41936;
  padding: 0 15rem;
}

.about-header button {
  font-size: 2rem;
  padding: 2rem 3rem;
  background-color: #e41936;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: 0 0 1rem #fff;
  margin-top: 3rem;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 600;
  font-family: "Caveat";
}

.about-header button:hover {
  transform: scale(1.05);
}

.about-tab {
  width: 100%;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-tab h3 {
  font-size: 3.25rem;
  font-style: italic;
}

.about-tab hr {
  width: 25rem;
  height: 1px;
  background-color: #000;
  margin-top: 3px;
}

.about-tab--wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(47.5rem, 1fr));
  gap: 2.5rem;
  width: 90%;
}

.about-tab--row {
  display: flex;
  margin: 0 auto;
  gap: 2.5rem;
  margin-top: 5rem;
}

.about-tab--col {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 22.5rem;
  max-width: 25rem;
  margin: 0 auto;
}

.tab-col--top {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #252422;
  position: relative;
  padding-bottom: 0.75rem;
  border-radius: 2rem 2rem 0 0;
  box-shadow: 0 0 2rem #252422;
}

.tab-col--top-img {
  width: 7.5rem;
  height: 7.5rem;
  background-color: #e41936;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #fff;
}

.tab-col--top-img .icon {
  font-size: 4.5rem;
  color: #fff;
}

.tab-col--top p {
  font-size: 2rem;
  margin-top: 5rem;
  color: #fff;
}

.tab-col--down {
  background-color: rgba(37, 36, 34, 0.16);
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 0 2rem #252422;
  height: 100%;
}

.tab-col--down ul {
  list-style: none;
  padding: 2rem 1rem;
}

.tab-col--down ul li {
  display: flex;
  gap: 0.75rem;
  align-items: flex-start;
  font-size: 1.4rem;
  font-weight: 500;
}

.tab-col--down ul li .arr {
  font-size: 2rem;
}

.aboutSalesman-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  width: 85%;
  background-color: #252422;
  margin: 5rem auto;
  padding: 3.5rem;
  overflow-x: hidden;
  row-gap: 1rem;
}

.aboutSalesman-container--col,
.cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.aboutSalesman-container--col img {
  max-width: fit-content;
  max-height: 45rem;
  margin: 0 auto;
  align-self: center;
}

.cell {
  align-items: center;
  border: 2px solid #fff;
  padding: 3rem;
}

.cell .icon-container {
  width: 7.5rem;
  height: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: tomato;
  border-radius: 50%;
}

.cell .icon-container .icon {
  font-size: 5rem;
  color: #fff;
}

.cell h3 {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.cell p {
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
}

@media (max-width: 1150px) {
  .about-header h2 {
    font-size: 5.25rem;
  }

  .about-header h3 {
    font-size: 2.5rem;
  }
}

@media (max-width: 1100px) {
  .aboutSalesman-container--col img {
    width: 35rem;
    max-height: none;
  }
}

@media (max-width: 1050px) {
  .about-header {
    padding: 0 7.5rem;
  }

  .about-header h2 {
    font-size: 4.5rem;
  }

  .about-header h3 {
    font-size: 2.25rem;
    padding: 0 7.5rem;
  }
}

@media (max-width: 1000px) {
  .aboutSalesman-container--col.colChangeToRow {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
    align-items: stretch;
    grid-column: span 2;
  }
}

@media (max-width: 950px) {
  .about-header {
    padding: 0 5rem;
  }

  .about-header h2 {
    font-size: 4rem;
  }

  .about-header h3 {
    font-size: 2rem;
    padding: 0 5rem;
  }

  .about-header button {
    padding: 1.5rem 2.5rem;
    margin-top: 1.5rem;
  }

  .about-tab {
    margin: 7.5rem auto;
  }

  .cell h3 {
    font-size: 1.8rem;
  }

  .cell p {
    font-size: 1.45rem;
  }
}

@media (max-width: 800px) {
  .about-header h2 {
    font-size: 3.25rem;
  }

  .about-header h3 {
    font-size: 1.75rem;
    padding: 0 4rem;
  }

  .about-header button {
    padding: 1.25rem 2rem;
    margin-top: 1rem;
  }

  .about-tab {
    margin: 6rem auto;
  }

  .aboutSalesman-container {
    width: 90%;
    padding: 2rem;
  }

  .cell {
    padding: 2rem;
  }

  .cell .icon-container {
    width: 6rem;
    height: 6rem;
  }

  .cell .icon-container .icon {
    font-size: 4rem;
  }

  .cell h3 {
    font-size: 1.7rem;
  }

  .cell p {
    font-size: 1.3rem;
  }
}

@media (max-width: 650px) {
  .about-header {
    padding: 0 3.5rem;
  }

  .about-header h2 {
    font-size: 3rem;
  }

  .about-header button {
    padding: 1rem 2rem;
    margin-top: 0;
  }

  .tab-col--top-img {
    width: 6rem;
    height: 6rem;
  }

  .tab-col--top-img .icon {
    font-size: 4rem;
  }

  .tab-col--top p {
    font-size: 1.8rem;
    margin-top: 5rem;
  }

  .tab-col--down ul li {
    font-size: 1.25rem;
  }

  .tab-col--down ul li .arr {
    font-size: 1.75rem;
  }

  .aboutSalesman-container {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }

  .aboutSalesman-container--col {
    overflow-x: hidden;
  }

  .aboutSalesman-container--col img {
    width: 26rem;
    transform: translateX(-1rem);
  }

  .cell {
    padding: 1.25rem;
  }

  .cell h3 {
    font-size: 1.6rem;
  }

  .cell p {
    font-size: 1.2rem;
  }
}

@media (max-width: 550px) {
  .about-tab--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .about-tab h3 {
    font-size: 3rem;
  }

  .about-tab hr {
    width: 22.5rem;
  }

  .about-tab--row {
    flex-direction: column;
    margin: 5rem auto 2.5rem auto;
    gap: 5rem;
  }
}

@media (max-width: 500px) {
  .about-header {
    padding: 0 2.5rem;
  }

  .about-header h2 {
    font-size: 2.6rem;
  }

  .about-header button {
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
  }

  .aboutSalesman-container {
    display: flex;
    flex-direction: column;
  }

  .aboutSalesman-container--col {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
    align-items: stretch;
    grid-column: span 2;
  }
}

@media (max-width: 450px) {
  .about-header {
    padding: 0 2.5rem;
  }

  .about-header h2 {
    font-size: 2.3rem;
  }

  .about-header h3 {
    font-size: 1.5rem;
    padding: 0 3rem;
  }

  .about-tab h3 {
    font-size: 2.75rem;
  }

  .about-tab hr {
    width: 20rem;
  }
}

@media (max-width: 400px) {
  .aboutSalesman-container--col {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }

  .aboutSalesman-container--col.colChangeToRow {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}
