.crew-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem auto 10rem auto;
}

.crew-container h2,
h3 {
  color: #252422;
  letter-spacing: 1px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 4.5rem;
}

.crew-container hr {
  width: 20rem;
  background-color: #252422;
  margin-bottom: 2.5rem;
}

.crew-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.team-member--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  padding: 2.5rem 4.5rem;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  width: 60%;
  height: min-content;
  margin-right: 10rem;
}

.team-member--container .container-left {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 40rem;
  width: 100%;
}

.container-left img {
  max-height: 35rem;
  max-width: 100%;
}

.team-member--container .container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2.5rem 3rem;
  border-radius: 1rem;
  max-height: min-content;
}

.container-right h3 {
  color: #fff;
  font-size: 2.1rem;
}

.container-right p {
  color: #fff;
  font-size: 1.5rem;
}

.odd-index {
  margin-left: 20rem;
}

.odd-index .container-right {
  order: -1;
}

@media (max-width: 1100px) {
  .team-member--container {
    width: 70%;
    padding: 2.5rem 3.5rem;
  }
}

@media (max-width: 1000px) {
  .crew-container h2,
  h3 {
    font-size: 4rem;
  }

  .team-member--container {
    grid-template-columns: 1fr 1.2fr;
    gap: 2rem;
    width: 75%;
    padding: 2rem 3rem;
  }

  .team-member--container.odd-index {
    grid-template-columns: 1.2fr 1fr;
  }

  .team-member--container .container-right {
    gap: 1rem;
    padding: 1.5rem 2rem;
  }
}

@media (max-width: 850px) {
  .crew-wrapper {
    gap: 2.5rem;
  }

  .team-member--container {
    width: 82.5%;
    margin-right: 0;
  }

  .odd-index {
    margin-left: 0;
  }
}

@media (max-width: 750px) {
  .crew-container h2,
  h3 {
    font-size: 3.5rem;
  }

  .team-member--container {
    grid-template-columns: 1fr 1.3fr;
    padding: 1.5rem;
    gap: 0.5rem;
  }

  .team-member--container.odd-index {
    grid-template-columns: 1.3fr 1fr;
  }

  .container-right h3 {
    font-size: 1.8rem;
  }

  .container-right p {
    font-size: 1.4rem;
  }

  .container-left img {
    max-height: 30rem;
  }
}

@media (max-width: 600px) {
  .crew-container h2,
  h3 {
    font-size: 3.25rem;
  }

  .crew-container hr {
    width: 17.5rem;
  }

  .team-member--container {
    grid-template-columns: 1fr 1.4fr;
    width: 85%;
  }

  .team-member--container.odd-index {
    grid-template-columns: 1.4fr 1fr;
  }
}

@media (max-width: 500px) {
  .crew-container h2,
  h3 {
    font-size: 3rem;
  }

  .team-member--container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-left img {
    max-height: 22.5rem;
  }

  .team-member--container .container-right {
    gap: 0.5rem;
    padding: 1rem 1.25rem;
  }

  .container-right h3 {
    font-size: 1.5rem;
  }

  .container-right p {
    font-size: 1.3rem;
  }

  .odd-index .container-right {
    order: 0;
  }
}

@media (max-width: 400px) {
  .crew-container h2,
  h3 {
    font-size: 2.75rem;
  }

  .container-left img {
    max-height: 20rem;
  }
}
