.cartProducts {
  padding: 12.5rem 10rem;
  /* background-color: rgb(228, 227, 227) */
}

.cartProducts hr {
  height: 1px;
  background-color: rgba(228, 227, 227, 0.85);
  border: none;
}

.cartProducts_labels {
  display: grid;
  grid-template-columns: 0.5fr 4fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 7.5rem;
  padding: 2rem 0;
  font-size: 1.8rem;
  font-weight: 600;
}

.cartProducts_container {
  font-weight: 500;
  font-size: 1.4rem;
}

.productIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 7.5rem;
  max-width: 8.5rem;
  height: 6rem;
}

.productIcon img {
  height: 100%;
  margin: 0 auto;
}

.icon_remove {
  font-size: 2rem;
  margin: 0 4rem;
  cursor: pointer;
}

.quantity {
  width: 5rem;
  height: 4rem;
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0 auto;
  cursor: pointer;
}

.totalPrice_container {
  width: 30rem;
  margin-left: auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

.totalPrice_container p {
  font-size: 1.4rem;
}

.totalPrice {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.totalPrice h2 {
  font-size: 1.8rem;
}

.totalPrice_item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.totalPrice_item p {
  font-size: 1.4rem;
}

.totalPrice button {
  width: 15rem;
  height: 3.5rem;
  background-color: #e41936;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  border: 1px solid #282125;
  cursor: pointer;
  will-change: transform;
  transition: all 0.3s;
  margin: 0 auto 2rem auto;
}

.totalPrice button:hover {
  background-color: #282125;
  color: #e41936;
  transform: skew(-10deg);
}

.promoCode_inputBox {
  display: flex;
  align-items: center;
  background-color: rgba(228, 227, 227, 0.85);
  padding: 1rem;
}

.promoCode_inputBox input {
  border: none;
  background-color: transparent;
  color: #282125;
  font-size: 1.6rem;
  padding: 0.5rem;
  transition: all 1s;
}

.promoCode_inputBox input:focus {
  outline: none;
  background: rgba(228, 25, 54, 0.75);
  color: #fff;
}

.promoCode_inputBox input:focus::placeholder {
  color: #fff;
}

.promoCode_inputBox button {
  width: 7.5rem;
  padding: 0.5rem;
  background: rgb(228, 25, 54);
  border: 1px solid #282125;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .cartProducts_labels,
  .totalPrice h2 {
    font-size: 1.5rem;
  }

  .cartProducts_labels {
    gap: 5.5rem;
  }

  .cartProducts_container.cartProducts_labels {
    font-size: 1.2rem;
  }

  .quantity {
    width: 4rem;
    height: 3rem;
    font-size: 1.65rem;
  }
}

@media (max-width: 1000px) {
  .totalPrice_container {
    width: 27.5rem;
  }
  .totalPrice button {
    width: 12.5rem;
    height: 3.25rem;
    font-size: 1.75rem;
  }

  .icon_remove {
    margin: 0 3.5rem;
  }
}

@media (max-width: 950px) {
  .cartProducts_labels {
    gap: 4.5rem;
  }

  .product_name {
    font-size: 1rem;
  }

  .icon_remove {
    font-size: 1.8rem;
    margin: 0 3rem;
  }
}

@media (max-width: 850px) {
  .cartProducts {
    padding: 12.5rem 7.5rem;
  }

  .cartProducts_labels {
    gap: 4rem;
  }
}

@media (max-width: 750px) {
  .cartProducts {
    padding: 12.5rem 5rem 10rem 5rem;
  }

  .cartProducts_labels {
    gap: 3.5rem;
  }

  .cartProducts_labels,
  .totalPrice h2 {
    font-size: 1.25rem;
  }

  .totalPrice_container {
    width: 25rem;
    margin-top: 2.5rem;
  }

  .totalPrice {
    gap: 0;
  }

  .totalPrice button {
    width: 7.5rem;
    height: 2.5rem;
    font-size: 1.25rem;
  }

  .icon_remove {
    margin: 0 2.5rem;
  }

  .promoCode_inputBox {
    padding: 0.5rem;
  }

  .promoCode_inputBox input {
    font-size: 1.5rem;
    padding: 0.4rem;
  }
}

@media (max-width: 650px) {
  .cartProducts {
    padding: 12.5rem 2.5rem 7.5rem 2.5rem;
  }

  .cartProducts_labels {
    gap: 2.5rem;
  }

  .quantity {
    width: 3rem;
    height: 2rem;
    font-size: 1.25rem;
    background-color: transparent;
    border: none;
  }

  .icon_remove {
    font-size: 1.5rem;
    margin: 0 2rem;
  }

  .totalPrice_container {
    width: 21.5rem;
    margin-top: 2rem;
  }

  .totalPrice_item p,
  .promoCode p {
    font-size: 1.1rem;
  }

  .promoCode_inputBox {
    padding: 0.3rem;
  }

  .promoCode_inputBox input {
    font-size: 1.2rem;
    padding: 0.3rem;
  }

  .promoCode_inputBox button {
    width: 5rem;
    padding: 0.3rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 550px) {
  .cartProducts {
    padding: 12.5rem 1.5rem 5rem 1.5rem;
  }

  .cartProducts_labels {
    gap: 1.5rem;
  }

  .product_name {
    font-size: 0.9rem;
  }

  .totalPrice_container {
    width: 17.5rem;
    margin-top: 1.5rem;
  }

  .promoCode_inputBox {
    padding: 0.15rem;
  }

  .promoCode_inputBox input {
    font-size: 1rem;
    padding: 0.15rem;
  }

  .promoCode_inputBox button {
    width: 4rem;
    font-size: 1rem;
  }
}

@media (max-width: 450px) {
  .cartProducts {
    padding: 12.5rem 1.5rem 2.5rem 1.5rem;
  }

  .productIcon {
    min-width: 5.5rem;
    max-width: 6.5rem;
    height: 5rem;
  }

  .cartProducts_labels,
  .totalPrice h2 {
    font-size: 1rem;
  }

  .cartProducts_container.cartProducts_labels {
    font-size: 1.15rem;
  }

  .quantity {
    width: 2.5rem;
    height: 1.5rem;
    font-size: 1.1rem;
  }

  .icon_remove {
    font-size: 1.25rem;
    margin: 0 1.5rem;
  }
}

@media (max-width: 400px) {
  .productIcon {
    min-width: 3.5rem;
    max-width: 4.5rem;
    height: 4rem;
  }

  .cartProducts_container.cartProducts_labels {
    font-size: 1.1rem;
  }
}
