.startAdventure-container {
  width: 80%;
  height: max-content;
  display: grid;
  grid-template-columns: minmax(40rem, 45rem) minmax(28rem, 1fr);
  margin: 10rem auto;
}

.textContainer-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2.5rem 2rem 2.5rem 3.5rem;
  padding: 2.5rem 1.5rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
  border-radius: 1rem;
  box-shadow: 0 0 2rem #e41936;
}

.textContainer-left h2 {
  font-size: 3.25rem;
  color: #fff;
  text-shadow: 1px 1px #e41936;
}

.textContainer-left p {
  font-size: 1.3rem;
  font-style: italic;
  color: #fff;
}

.textContainer-left ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  list-style: none;
  padding-inline-start: 0px;
  margin-top: 1rem;
}

.textContainer-left ul li {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 1px 1px #e41936;
}

.textContainer-left ul li .icon {
  font-size: 3.25rem;
  color: #fff;
  background-color: #e41936;
  padding: 0.5rem;
  border-radius: 50%;
  box-shadow: 0 0 1rem #fff;
}

.imgContainer-right {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0 2rem #282125;
}

.imgContainer-right::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.05)),
    url("../../Components/imgs/start_adventure.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s;
}

.imgContainer-right:hover::before {
  transform: scale(1.1);
}

@media (max-width: 900px) {
  .startAdventure-container {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .startAdventure-container {
    width: 95%;
    grid-template-columns: minmax(30rem, 45rem) minmax(25rem, 1fr);
    margin: 7.5rem auto;
  }

  .textContainer-left {
    padding: 2rem 1.5rem;
  }

  .textContainer-left h2 {
    font-size: 2.7rem;
  }

  .textContainer-left p {
    font-size: 1.2rem;
  }

  .textContainer-left ul {
    gap: 1rem;
  }

  .textContainer-left ul li {
    gap: 1.25rem;
    font-size: 1.35rem;
  }

  .textContainer-left ul li .icon {
    font-size: 3rem;
  }
}

@media (max-width: 700px) {
  .startAdventure-container {
    grid-template-columns: minmax(25rem, 45rem) minmax(22rem, 1fr);
  }

  .textContainer-left {
    padding: 2rem 1rem;
  }
}

@media (max-width: 600px) {
  .startAdventure-container {
    grid-template-columns: minmax(24rem, 45rem) minmax(22rem, 1fr);
  }

  .textContainer-left {
    padding: 1rem 0.75rem;
    margin: 2.5rem 0.75rem 2.5rem 0;
    gap: 0.25rem;
  }

  .textContainer-left h2 {
    font-size: 2.2rem;
  }

  .textContainer-left ul li {
    gap: 1rem;
    font-size: 1.25rem;
  }

  .textContainer-left ul li .icon {
    font-size: 2.5rem;
  }
}

@media (max-width: 500px) {
  .startAdventure-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
  }

  .textContainer-left {
    padding: 1.25rem 1rem;
    margin: 0 2rem;
  }

  .textContainer-left h2 {
    font-size: 2.5rem;
  }

  .textContainer-left p {
    font-size: 1.3rem;
  }

  .textContainer-left ul li {
    font-size: 1.5rem;
  }

  .textContainer-left ul li .icon {
    font-size: 2.75rem;
  }

  .imgContainer-right {
    height: 22.5rem;
  }

  .imgContainer-right::before {
    background-position: top;
  }
}

@media (max-width: 400px) {
  .textContainer-left {
    padding: 1.25rem 1rem;
    margin: 0 2rem;
  }

  .textContainer-left h2 {
    font-size: 2.25rem;
  }

  .textContainer-left p {
    font-size: 1.2rem;
  }

  .textContainer-left ul li {
    font-size: 1.25rem;
  }

  .textContainer-left ul li .icon {
    font-size: 2.5rem;
  }
}

@media (max-width: 360px) {
  .startAdventure-container {
    width: 92.5%;
  }

  .textContainer-left {
    padding: 1rem;
    margin: 0 1.5rem;
  }
}
