.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  width: 30rem;
  margin: 0 auto;
  transition: all 0.6s;
  cursor: pointer;
}

.item img {
  max-width: 30rem;
}

.item:hover {
  transform: scale(1.05);
}

.item p {
  margin: auto 0.5rem 0 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.item-prices {
  display: flex;
  gap: 1.5rem;
}

.item-price--new {
  font-size: 1.6rem;
  color: #252422;
  font-weight: 600;
}

.item-price--old {
  font-size: 1.4rem;
  color: #b8b6b6;
  font-weight: 500;
  text-decoration: line-through;
}

@media (max-width: 1100px) {
  .item {
    width: 27.5rem;
  }
}

@media (max-width: 1000px) {
  .item {
    width: 25rem;
  }
}

@media (max-width: 900px) {
  .item {
    width: 22.5rem;
  }

  .item img {
    max-width: 25rem;
  }
}

@media (max-width: 500px) {
  .item {
    width: 15rem;
  }

  .item img {
    max-width: 15rem;
  }

  .item p {
    font-size: 1.15rem;
  }

  .item-price--new {
    font-size: 1.4rem;
  }

  .item-price--old {
    font-size: 1.2rem;
  }
}
