.header {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(37, 36, 34, 0.2),
      rgba(37, 36, 34, 0.05)
    ),
    url("../imgs/header_2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.textContainer {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 5.5rem repeat(3, max-content) 5.5rem;
  column-gap: 1rem;
  row-gap: 1rem;
  padding-left: 7.5rem;
  width: 55rem;
}

.textContainer .img-new-product {
  height: 100%;
  grid-row: span 5;
}

/*********************************************************/

.heading--h2 {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  color: #252422;
  letter-spacing: 1px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.textContainer--heading .span {
  width: 100%;
  margin-top: 5px;
  font-size: 15px;
  color: #252422;
  word-spacing: 1px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px;
  column-gap: 20px;
  align-items: center;
}

.textContainer--heading .span:after,
.textContainer--heading .span:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #e01717;
  border-top: 1px solid #e01717;
  height: 5px;
  background-color: #f8f8f8;
}

.textContainer--heading-icon-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 1.5rem;
}

.textContainer--heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-column: 2/3;
  grid-row: 2/3;
}

.textContainer--heading-icon-wrapper img {
  width: 4rem;
  margin-bottom: 1rem;
}

/*********************************************************/

.textContainer p {
  color: #252422;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: italic;
  text-align: center;
}

.text--1 {
  margin-top: 1rem;
  font-size: 1.8rem;
  grid-column: 2/3;
  grid-row: 3/4;
}

.text--2 {
  font-size: 1.5rem;
  grid-column: 2/3;
  grid-row: 4/5;
}

.header--btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  height: 6rem;
  margin: 1rem auto 0 auto;
  border: none;
  color: #e01717;
  font-family: "Black Ops One", serif;
  font-size: 2rem;
  font-weight: 600;
  background-color: transparent;
  will-change: transform;
  cursor: pointer;
  transition: all 1s;
  grid-column: 2/3;
  grid-row: 5/6;
  animation: 3s linear 1s infinite pulsation;
}

.header--btn .btn--img {
  width: 75%;
}

.header--btn:hover {
  transform: skew(-10deg) scale(0.95);
  background-color: #252422;
  color: #fff;
  animation: none;
}

@keyframes pulsation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
