.header {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(37, 36, 34, 0.2),
      rgba(37, 36, 34, 0.05)
    ),
    url("../imgs/header_2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  overflow-x: hidden;
}

.textContainer {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 5.5rem repeat(3, max-content) 5.5rem;
  column-gap: 1rem;
  row-gap: 1rem;
  padding-left: 7.5rem;
  width: 55rem;
}

.textContainer .img-new-product {
  grid-row: span 5;
  height: 35rem;
  margin-right: 2.5rem;
}

/*********************************************************/

.heading--h2 {
  text-align: center;
  font-size: 5rem;
  text-transform: uppercase;
  color: #252422;
  letter-spacing: 1px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.textContainer--heading .span {
  width: 100%;
  margin-top: 5px;
  font-size: 15px;
  color: #252422;
  word-spacing: 1px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px;
  column-gap: 20px;
  align-items: center;
}

.textContainer--heading .span:after,
.textContainer--heading .span:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #e01717;
  border-top: 1px solid #e01717;
  height: 5px;
  background-color: #f8f8f8;
}

.textContainer--heading-icon-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 1.5rem;
}

.textContainer--heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-column: 2/3;
  grid-row: 2/3;
}

.textContainer--heading-icon-wrapper img {
  width: 4rem;
  margin-bottom: 1rem;
}

/*********************************************************/

.textContainer p {
  color: #252422;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: italic;
  text-align: center;
}

.text--1 {
  margin-top: 1rem;
  font-size: 1.8rem;
  grid-column: 2/3;
  grid-row: 3/4;
}

.text--2 {
  font-size: 1.5rem;
  grid-column: 2/3;
  grid-row: 4/5;
}

.header--btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  height: 6rem;
  margin: 1rem auto 0 auto;
  border: none;
  color: #e01717;
  font-family: "Black Ops One", serif;
  font-size: 2rem;
  font-weight: 600;
  background-color: transparent;
  will-change: transform;
  cursor: pointer;
  transition: all 1s;
  grid-column: 2/3;
  grid-row: 5/6;
  animation: 3s linear 1s infinite pulsation;
}

.header--btn .btn--img {
  width: 75%;
}

.header--btn:hover {
  transform: skew(-10deg) scale(0.95);
  background-color: #252422;
  color: #fff;
  animation: none;
}

@keyframes pulsation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 1100px) {
  .textContainer {
    width: 45rem;
    padding-left: 6.5rem;
  }

  .textContainer .img-new-product {
    height: 32.5rem;
    margin-right: 0.5rem;
  }

  .heading--h2 {
    font-size: 3.5rem;
  }

  .textContainer--heading-icon-wrapper img {
    width: 3.25rem;
  }

  .textContainer--heading .span {
    column-gap: 1.25rem;
  }

  .text--1 {
    font-size: 1.6rem;
  }

  .text--2 {
    font-size: 1.4rem;
  }

  .header--btn {
    width: 22.5rem;
    height: 5rem;
    font-size: 1.8rem;
  }
}

@media (max-width: 1000px) {
  .textContainer {
    width: 37.5rem;
    padding-left: 3.5rem;
  }

  .textContainer .img-new-product {
    height: 30rem;
  }

  .heading--h2 {
    font-size: 3rem;
  }

  .textContainer--heading-icon-wrapper img {
    width: 3rem;
    margin-bottom: 0;
  }

  .textContainer--heading .span {
    column-gap: 0.75rem;
  }

  .text--1 {
    font-size: 1.5rem;
  }

  .text--2 {
    font-size: 1.35rem;
  }

  .header--btn {
    width: 20rem;
    height: 4.5rem;
    font-size: 1.65rem;
  }
}

@media (max-width: 900px) {
  .header {
    background-size: cover;
  }

  .textContainer {
    grid-template-columns: minmax(25rem, 30rem);
    grid-template-rows: 5rem repeat(3, max-content) 5.5rem;
    margin-top: 10rem;
    justify-content: center;
    padding-left: 0;
  }

  .textContainer .img-new-product {
    grid-row: 1/2;
    grid-column: auto;
    transform: rotate(90deg) translateX(-9rem);
    height: 20rem;
    justify-self: center;
  }

  .textContainer--heading,
  .text--1,
  .text--2,
  .header--btn {
    grid-column: auto;
  }
}

@media (max-width: 800px) {
  .textContainer {
    background-color: rgba(37, 36, 34, 0.75);
    padding: 6rem 2rem 4rem 2rem;
    margin-left: 3.5rem;
    justify-content: center;
    width: 27.5rem;
    border-radius: 2rem;
    box-shadow: 0 0 2rem #fff;
  }

  .textContainer .heading--h2,
  .textContainer--heading .span,
  .textContainer .text--1,
  .textContainer .text--2 {
    color: #fff;
  }

  .textContainer--heading .span:after,
  .textContainer--heading .span:before {
    border-bottom: 2px solid #e01717;
    border-top: 2px solid #e01717;
    background-color: transparent;
  }

  .header--btn {
    text-shadow: 1px 0 0 #fff;
  }
}

@media (max-width: 700px) {
  .textContainer {
    margin: 5rem auto 0 2.5rem;
    width: 30rem;
  }

  .heading--h2 {
    font-size: 3.75rem;
  }

  .text--1 {
    font-size: 1.8rem;
  }

  .text--2 {
    font-size: 1.5rem;
  }

  .header--btn {
    width: 25rem;
    height: 5rem;
    font-size: 2rem;
  }

  .header--btn:hover {
    background-color: #fff;
    color: #e01717;
    text-shadow: 1px 0 0 #252422;
  }
}

@media (max-width: 550px) {
  .header {
    background-position: center;
  }

  .textContainer {
    width: 27.5rem;
  }

  .heading--h2 {
    font-size: 3.5rem;
  }

  .text--1 {
    font-size: 1.65rem;
  }

  .text--2 {
    font-size: 1.35rem;
  }

  .header--btn .btn--img {
    width: 65%;
  }
}

@media (max-width: 500px) {
  .textContainer {
    width: 25rem;
  }

  .heading--h2 {
    font-size: 2.75rem;
  }

  .text--1 {
    font-size: 1.4rem;
  }

  .text--2 {
    font-size: 1.2rem;
  }

  .header--btn {
    font-size: 1.8rem;
  }

  .header--btn .btn--img {
    width: 55%;
  }
}

@media (max-width: 450px) {
  .textContainer {
    width: 22.5rem;
    margin: 5rem auto 0 2rem;
  }

  .heading--h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 400px) {
  .textContainer {
    width: 20rem;
    margin: 5rem auto 0 1rem;
  }

  .heading--h2 {
    font-size: 2.15rem;
  }

  .textContainer--heading .span {
    column-gap: 0.5rem;
    width: 92.5%;
  }
}

@media (max-width: 360px) {
  .textContainer {
    width: 18rem;
    margin: 5rem auto 0 0.25rem;
  }

  .textContainer .img-new-product {
    transform: rotate(90deg) translateX(-9rem);
    height: 18.5rem;
    margin-top: 1.25rem;
  }

  .heading--h2 {
    font-size: 2rem;
  }

  .text--1 {
    font-size: 1.3rem;
  }

  .text--2 {
    font-size: 1.15rem;
  }

  .textContainer--heading .span {
    column-gap: 0.25rem;
    width: 80%;
  }
}
