.navbar {
  display: flex;
  justify-content: space-around;
  padding: 1rem 2rem;
  background: linear-gradient(rgba(37, 36, 34, 0.8), rgba(37, 36, 34, 0.4));
  position: fixed;
  width: 100%;
  z-index: 999;
}

.navbar-logo--wrapper a {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-logo--wrapper a .logo {
  width: 7.5rem;
}

.navbar-logo--wrapper a p {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Caveat", cursive;
  color: #fff;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 3rem;
  list-style: none;
}

.nav-menu .nav-menu--items a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 2.2rem;
  font-weight: 500;
  color: #fff;
  font-family: "Caveat";
  transition: all 0.3s;
  cursor: pointer;
}

.nav-menu .nav-menu--items:hover a {
  text-shadow: 2px 2px #e41936;
}

.nav-menu .nav-menu--items:hover .icon {
  color: #e41936;
  transform: scale(1.5);
}

.nav-login--btn {
  display: flex;
  align-items: center;
  gap: 4rem;
  position: relative;
}

.btn {
  position: relative;
  width: 14rem;
  height: 5rem;
  border: 1px solid #000;
  background-color: rgba(224, 23, 23, 0.4);
  cursor: pointer;
  z-index: 1000;
}

.btn::after {
  content: "Login";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 14rem;
  height: 5rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
  font-family: "Caveat";
  transform: translate(-1rem, 0.6rem);
  background-color: rgba(224, 23, 23, 0.85);
  transition: all 0.3s;
  z-index: -1;
}

.btn:hover::after {
  transform: translate(0);
}

.btn p {
  font-size: 2.4rem;
  font-weight: 600;
  font-family: "Caveat";
  color: #fff;
}

.cart--counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-top: 3.4rem;
  margin-left: -5rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 50%;
  background-color: rgba(224, 23, 23, 0.85);
}

.icon {
  font-size: 2.2rem;
  color: #fff;
  transition: all 0.5s;
}

.icon--cart {
  font-size: 2.75rem;
  color: #fff;
}

/*MOBILE*/
nav.activeMobile {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 1rem;
  background: linear-gradient(rgba(37, 36, 34, 0.8), rgba(37, 36, 34, 0.4));
  box-shadow: 0 0 2rem #fff;
  position: fixed;
  top: 1.5rem;
  right: 0;
  width: 8.75rem;
  border-radius: 1rem 0 0 1rem;
  z-index: 999;
}

nav.activeMobile .nav-menu {
  flex-direction: column;
}

nav.activeMobile .btn {
  transform: translateX(-1rem);
}

nav.activeMobile .btn::after {
  transform: translate(0);
}

nav.activeMobile .btn:hover::after {
  transform: translate(0) scale(1.025);
  box-shadow: 0 0 0.5rem #fff;
}

nav.activeMobile .navbar-logo--wrapper a .logo {
  width: 6.5rem;
  position: absolute;
  top: 2rem;
  left: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}

nav.activeMobile .navbar-logo--wrapper a .logo:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

nav.activeMobile .navbar-logo--wrapper a p {
  display: none;
}

nav.activeMobile .nav-login--btn {
  flex-direction: column;
  gap: 2rem;
  transform: translateX(1rem);
}

nav.activeMobile .nav-login--btn .icon--cart {
  transform: translateX(-1rem);
}

nav.activeMobile .cart--counter {
  margin-top: 0;
  margin-left: 0;
  bottom: 0;
  right: 2.5rem;
  transform: translateY(50%);
  position: absolute;
}

.mobileMenuIcon {
  font-size: 4rem;
  color: #fff;
  cursor: pointer;
  transform: translateY(1rem);
}

@media (max-width: 1100px) {
  .navbar-logo--wrapper a .logo {
    width: 6.5rem;
  }

  .navbar-logo--wrapper a p {
    font-size: 1.8rem;
  }

  .nav-menu .nav-menu--items a {
    font-size: 2rem;
  }

  .btn {
    width: 12rem;
    height: 4.5rem;
  }

  .btn::after {
    width: 12rem;
    height: 4.5rem;
    font-size: 2.25rem;
  }

  .icon {
    font-size: 2rem;
  }
}

@media (max-width: 1000px) {
  .navbar-logo--wrapper a .logo {
    width: 6rem;
  }

  .nav-menu {
    padding-inline-start: 0;
  }

  .nav-menu .nav-menu--items a {
    font-size: 1.8rem;
  }

  .btn {
    width: 10rem;
    height: 4rem;
  }

  .btn::after {
    width: 10rem;
    height: 4rem;
    font-size: 2rem;
  }

  .icon--cart {
    font-size: 2.5rem;
  }
}

@media (max-width: 900px) {
  .navbar {
    justify-content: space-around;
    padding: 1rem 2rem 1rem 0;
  }
}

@media (max-width: 800px) {
  .navbar-logo--wrapper a {
    gap: 0.5rem;
  }

  .navbar-logo--wrapper a .logo {
    width: 5.5rem;
  }

  .navbar-logo--wrapper a p {
    font-size: 1.6rem;
  }

  .nav-menu {
    gap: 2.25rem;
  }

  .nav-menu .nav-menu--items a {
    font-size: 1.65rem;
  }

  .nav-login--btn {
    gap: 3rem;
  }

  .btn {
    width: 8.5rem;
    height: 3.75rem;
  }

  .btn::after {
    width: 8.5rem;
    height: 3.75rem;
    font-size: 1.85rem;
  }

  .icon--cart,
  .icon--cart {
    font-size: 2.25rem;
  }
}

@media (max-width: 700px) {
  .navbar-logo--wrapper a {
    flex-direction: column;
    gap: 0;
  }

  .navbar-logo--wrapper a .logo {
    width: 4rem;
  }

  .navbar-logo--wrapper a p {
    font-size: 1.35rem;
  }
}

@media (max-width: 650px) {
  .nav-login--btn {
    gap: 2.5rem;
  }

  .btn {
    width: 8rem;
    height: 3.6rem;
  }

  .btn::after {
    width: 8rem;
    height: 3.6rem;
    font-size: 1.7rem;
  }
}
