.product_path {
  font-size: 1.6rem;
  color: #000;
}

.product_path a {
  text-decoration: none;
  color: #000;
}

@media (max-width: 750px) {
  .product_path {
    font-size: 1.4rem;
  }
}

@media (max-width: 550px) {
  .product_path {
    font-size: 1.2rem;
  }
}
