.related_products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7.5rem;
  margin: 0 auto;
  width: 100%;
}

.related_products h2 {
  font-size: 3.5rem;
  color: #252422;
  font-weight: 600;
  text-shadow: 2px 2px #e41936;
}

.related_products--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 5rem;
  padding: 0 5rem;
  width: 100%;
}

@media (max-width: 1200px) {
  .related_products {
    gap: 5rem;
  }

  .related_products--container {
    padding: 0;
  }

  .related_products--container .item {
    width: 25rem;
  }
}

@media (max-width: 500px) {
  .related_products h2 {
    font-size: 2.75rem;
    text-shadow: 1px 1px #e41936;
  }
}
