.new-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: min-content;
  margin: 5rem auto 10rem auto;
}

.new-products h2 {
  color: #252422;
  letter-spacing: 1px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 4.5rem;
}

.new-products hr {
  width: 20rem;
  background-color: #252422;
}

.new-product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27.5rem, 1fr));
  width: 100%;
  margin-top: 4rem;
  row-gap: 3rem;
  column-gap: 1.5rem;
}

@media (max-width: 1000px) {
  .new-product {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}

@media (max-width: 900px) {
  .new-product {
    grid-template-columns: repeat(auto-fit, minmax(22.5rem, 1fr));
  }
}

@media (max-width: 650px) {
  .new-products h2 {
    font-size: 4rem;
  }
}

@media (max-width: 550px) {
  .new-products h2 {
    font-size: 3.5rem;
  }

  .new-products hr {
    width: 15rem;
  }

  .new-product {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}
