.new-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: min-content;
  margin: 5rem auto 10rem auto;
}

.new-products h2 {
  color: #252422;
  letter-spacing: 1px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 4.5rem;
}

.new-products hr {
  width: 20rem;
  background-color: #252422;
}

.new-product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 4rem;
  row-gap: 6rem;
  column-gap: 3rem;
}
