.offers {
  width: 65%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  margin: 0 auto 15rem auto;
  padding: 2rem 7.5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.3)),
    url(../imgs/exlusive_offer_bakcground.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2rem;
  box-shadow: 0 0 2rem #282125;
}

.offer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offer-left h2 {
  font-size: 5rem;
  font-weight: 600;
  color: #fff;
  line-height: 1.2;
  text-shadow: 3px 3px #282125;
}

.offer-left p {
  font-size: 2.2rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 2px 2px #e41936;
}

.offer-left button {
  width: 28rem;
  height: 7rem;
  border: 1px solid #282125;
  box-shadow: 0 0 1.5rem #282125;
  border-radius: 4rem;
  background-color: #e41936;
  font-size: 2.2rem;
  color: #fff;
  font-weight: 500;
  margin-top: 3rem;
  transition: all 0.3s;
  cursor: pointer;
}

.offer-left button:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 1rem #fff;
  border: 1px solid #fff;
}

.offer-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.offer-right img {
  max-height: 40rem;
}

@media (max-width: 1050px) {
  .offers {
    width: 75%;
    padding: 2rem 7rem;
  }
}

@media (max-width: 900px) {
  .offers {
    height: 65vh;
    padding: 2rem 6.5rem;
    gap: 12.5rem;
  }

  .offer-left h2 {
    font-size: 4.25rem;
  }

  .offer-left p {
    font-size: 2rem;
  }

  .offer-left button {
    width: 25rem;
    height: 6rem;
    font-size: 2.1rem;
  }
}

@media (max-width: 800px) {
  .offers {
    height: 60vh;
    padding: 2rem 5.75rem;
    gap: 8.5rem;
  }

  .offer-left h2 {
    font-size: 4rem;
  }

  .offer-left p {
    font-size: 1.75rem;
  }

  .offer-left button {
    width: 22.5rem;
    height: 5rem;
    font-size: 2rem;
  }
}

@media (max-width: 750px) {
  .offers {
    height: 57.5vh;
    padding: 2rem 4.75rem;
    gap: 7.5rem;
  }

  .offer-left h2 {
    font-size: 3.5rem;
  }

  .offer-right img {
    max-height: 35rem;
  }
}

@media (max-width: 700px) {
  .offers {
    padding: 2rem 4rem;
    gap: 5rem;
    justify-content: space-between;
  }

  .offer-left p {
    font-size: 1.6rem;
  }
}

@media (max-width: 600px) {
  .offers {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: min-content;
    padding: 4rem 3.75rem;
    gap: 4rem;
  }

  .offer-left h2,
  .offer-left p {
    text-align: center;
  }

  .offer-left h2 {
    font-size: 4.25rem;
    text-shadow: 3px 3px 6px #282125;
  }

  .offer-left p {
    font-size: 2.2rem;
    text-shadow: 2px 2px 4px #e41936;
  }

  .offer-left button {
    margin: 2rem auto;
  }

  .offer-right {
    height: 15rem;
    width: max-content;
  }

  .offer-right img {
    transform: rotate(-90deg);
  }
}

@media (max-width: 450px) {
  .offers {
    padding: 3rem 3.75rem;
    gap: 0;
  }

  .offer-left h2 {
    font-size: 3.75rem;
  }

  .offer-left p {
    font-size: 1.95rem;
  }

  .offer-right img {
    width: 11.5rem;
  }
}

@media (max-width: 400px) {
  .offer-left h2 {
    font-size: 3.5rem;
  }

  .offer-left p {
    font-size: 1.75rem;
  }

  .offer-left button {
    width: 20rem;
    height: 4.5rem;
    font-size: 1.8rem;
  }

  .offer-right img {
    width: 10rem;
  }
}
