.offers {
  width: 65%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  margin: 0 auto 15rem auto;
  padding: 0 7.5rem;
  background-image: linear-gradient(
      rgba(228, 227, 227, 0.2),
      rgba(228, 227, 227, 0.2)
    ),
    url(../imgs/offer_background.png);
  background-color: rgb(40, 33, 37, 0.2);
  background-size: cover;
}

.offer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offer-left h2 {
  font-size: 5rem;
  font-weight: 600;
  color: #fff;
  line-height: 1.2;
  text-shadow: 2px 2px #282125;
}

.offer-left p {
  font-size: 2.2rem;
  font-weight: 600;
  color: #282125;
}

.offer-left button {
  width: 28rem;
  height: 7rem;
  border: 1px solid #282125;
  box-shadow: 0 0 1.5rem #282125;
  border-radius: 4rem;
  background-color: #e41936;
  font-size: 2.2rem;
  color: #fff;
  font-weight: 500;
  margin-top: 3rem;
  transition: all 0.3s;
  cursor: pointer;
}

.offer-left button:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 1rem #fff;
  border: 1px solid #fff;
}

.offer-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.offer-right img {
  height: 40rem;
}
